
<div class="container" role="main" >
  <div class="row">

      <section class="content-header">
        <h1> Registered Stub-O-Matics </h1>
      </section>

      <section class="content">

      <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title"> Instances</h3>

                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tbody>
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Hostname</th>
                          <th>Port</th>
                          <th>Protocol</th>
                          <th>Version</th>
                          <th>Action</th>
                        </tr>
                        {{range .Instances}}
                          <tr>
                            <td>{{.ID}} </td>
                            <td><a href="/stubos/{{.ID}}">{{.Name}}</a></td>
                            <td>{{.Hostname}}</td>
                            <td>{{.Port}}</td>
                            <td>{{.Protocol}}</td>
                            <td> <span class="label label-info">{{.Version}}</span></td>
                            <td>
                                <!-- Single button -->
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a href="{{.Protocol}}://{{.Hostname}}:{{.Port}}/">Go to Stubo</a></li>
                                      <li><a href="#">Refresh</a></li>
                                      <li><a href="#">Do some more things with it</a></li>
                                      <li role="separator" class="divider"></li>
                                      <li>
                                         <a class="DeleteAction" id="/stubos/{{.ID}}" href="#"><span
                                                 class="glyphicon glyphicon-off"></span>&nbsp;Remove</a>
                                      </li>
                                    </ul>
                                  </div>
                             </td>
                          </tr>
                      {{end}}
                  </tbody></table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Add new stubo instance</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form" action="/stubos" method="POST" class="form-horizontal">
                  <div class="box-body">
                      <div class="form-group">
                        <label for="InputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="Name" class="form-control" id="InputName" placeholder="Name">
                        </div>
                    </div>
                      <div class="form-group">
                        <label for="InputVersion" class="col-sm-2 control-label">Version</label>
                        <div class="col-sm-10">
                            <input type="text" name="Version" class="form-control" id="InputVersion" placeholder="Version">
                       </div>
                     </div>

                      <div class="form-group">
                        <label for="InputHostname" class="col-sm-2 control-label">Hostname</label>
                        <div class="col-sm-10">
                            <input type="text" name="Hostname" class="form-control" id="InputHostname" placeholder="Hostname">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="InputPort" class="col-sm-2 control-label">Port</label>
                        <div class="col-sm-10">
                            <input type="text" name="Port" class="form-control" id="InputPort" placeholder="8001">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="InputProtocol" class="col-sm-2 control-label">Protocol</label>
                        <div class="col-sm-10">
                            <input type="text" name="Protocol" class="form-control" id="InputProtocol" placeholder="http">
                        </div>
                      </div>

                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
        </div>
        </section>
  </div>
</div>
