
<div class="container" role="main" >
  <div class="row">

      <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Stubo instances</h3>
                  
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tbody>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Hostname</th>
                          <th>Port</th>
                          <th>Protocol</th>
                          <th>Version</th>
                          <th>Action</th>
                        </tr>
                        {{range .Instances}}
                          <tr>
                            <td>{{.ID}} </td>
                            <td>{{.Name}}</td>
                            <td>{{.Hostname}}</td>
                            <td>{{.Port}}</td>
                            <td>{{.Protocol}}</td>
                            <td> <span class="label label-info">{{.Version}}</span></td>
                            <td>
                                <!-- Single button -->
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a href="{{.Protocol}}://{{.Hostname}}:{{.Port}}/">Go to Stubo</a></li>
                                      <li><a href="#">Refresh</a></li>
                                      <li><a href="#">Do some more things with it</a></li>
                                      <li role="separator" class="divider"></li>
                                      <li>
                                         <a class="DeleteAction" id="/stubos/{{.ID}}" href="#"><span
                                                 class="glyphicon glyphicon-off"></span>&nbsp;Remove</a>
                                      </li>
                                    </ul>
                                  </div>
                             </td>
                          </tr>
                      {{end}}
                  </tbody></table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>

    <h2>Add new stubo instance</h2>
    <form action="/stubos" method="POST">
      <input type="text" name="Name" placeholder="stubo_x" /><br>
      <input type="text" name="Version" placeholder="6.6" /><br>
      <input type="text" name="Hostname" placeholder="localhost" /><br>
      <input type="text" name="Port" placeholder="8001" /><br>
      <input type="text" name="Protocol" placeholder="http" /><br>
      <input type="submit" value="submit"/>
    </form>
  </div>
</div>
